p{
	border:2px solid red;

	padding:10px;

	margin:50px;

	margin-top:50px;
}
table{
	margin-top: 100px;
}

td{
	
	width:100px;
	height:100px;
	
	
}
.bottom{
 
border-bottom:1px solid black;


}
.leftrb{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.eight{
	border-left: 1px solid black;
	border-right: 1px solid black;
}