p{
	border:2px solid red;

	padding:10px;

	margin:50px;

	margin-top:50px;
}

td{
	
	width:100px;
	height:100px;
	
	
}
.first{
 
border-bottom:1px solid black;

}
.second{
	border-left: 1px solid black;
	
}
.third{
	border-left: 1px solid black;
	border-bottom:1px solid black; 
}
.forth{
	border-bottom: 1px solid black;
}
.fivth{
	border-left: 1px solid black;
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-top:1px solid black;
}
.sixth{
	border-bottom:1px solid black;
}
.eight{
	border-left: 1px solid black;
	border-right: 1px solid black;
}